<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Visitors</title>	
	<link rel="stylesheet" href="styles.css">
</head>
<body> 
	<div class="header-logo">Visitors</div>
	<div class="page-title">Welcome Visitor!</div>
	<div class="login-button" id="login-button" sec:authorize="${! isAuthenticated()}">
		<a th:href="@{/login}">Log in</a>
	</div>
	<div class="login-button" id="logout-button" sec:authorize="${isAuthenticated()}">
		<a th:href="@{/logout}">Log out</a>
	</div>
	<div id="button-bar" class="button-bar">
		<div class="button" id="roles-button" sec:authorize="${hasAnyRole('System Administrator', 'Registrator')}">
			<a th:href="@{/roles}">Roles</a>
		</div>
		<div class="button" id="visitors-button" sec:authorize="${hasAnyRole('System Administrator', 'Registrator')}">
			<a th:href="@{/visitors}">Visitors</a>
		</div>
		<div class="button" id="users-button" sec:authorize="${hasRole('System Administrator')}">
			<a th:href="@{/users}">Users</a>
		</div>
		<div class="button" id="appointments-button" sec:authorize="${hasAnyRole('System Administrator', 'Personnel')}">
			<a th:href="@{/appointments}">Appointments</a>
		</div>
		<div class="button" id="registries-button" sec:authorize="${hasAnyRole('System Administrator', 'Registrator')}">
			<a th:href="@{/registries}">Registries</a>
		</div>
		<div class="button" id="waitinglist-button" sec:authorize="${! hasRole('Monitor')}">
			<a th:href="@{/waitinglist}">Waiting List</a>
		</div>
		<div class="button" id="profiledit-button" sec:authorize="${hasAnyRole('System Administrator', 'Registrator')}">
			<a th:href="@{/editprofile}">Profile Edit</a>
		</div>
	</div>
</body>

</html>